.home-page {
    display: grid;
    height: calc(100vh - 100px);
    align-content: space-evenly;
    flex-wrap: nowrap;
}


@media (max-width: 481px) {
    .home-page,
    .list-of-quizzes,
    .quizz-result-page,
    .single-quizz {
        padding: 0 25px;
    }
}