.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: transparent !important;
    box-shadow: none !important;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root img {
    margin: 5px 15px;
    margin-top: -5px;
}

.css-1lvtzne {
    justify-content: flex-end;
}